*{margin:0;
  padding:0;}
:root{
  --color: white;
      
      --btn: cream;
--bg:url("backdark.png")
     }
.light-theme{
  --color: black;
      --bg: url("backlight.png");
      --btn: gray;
}
body{
  background:var(--bg);
background-position:center;
background-repeat:no-repeat;
     color:var(--color);
}
 
 a:link, a:visited {
  color:var(--color);
  text-decoration:none;
  
}
 a:active, a:hover 
{background-color:#1b9bff;
 transition:0.5s;}
nav {
  position:fixed;
  z-index:1000;
  padding:10px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  height:80px;
  width: 100%;
  backdrop-filter:blur(10px);
  font-size: 20px;
} 
nav ul{
  display: flex;
  justify-content:space-around;
  align-items:center;
      }
ul li{
  display: block;
margin:10px;
}
ul li ul {
  display:none;
}
ul li:hover ul{
  display:block;
}
#check,#btn1,#btn2,#btn3{
  display: none;
}
.logo { border-radius:50%;
  height:70px;
       width:70px;
      }
#menu,#close,#icon{
  height:30px;
             width:30px;
            }
main{
  display:flex;
 justify-content:center;
  min-height:100vh;
  width:100%;
  padding:50px;
position: relative;
top:400px;
}
 .image{
  height: auto ;
  width:50%;
  border-radius:50%;
}
.text{
  height: auto;
  width:50%;
  font-size:50px;
text-align: center;
overflow: visible;
}
         
